<h1> <%= @list.name  %></h1>

 <% @list.photos.each do |photo| %>
        <%= cl_image_tag photo.key, height: 300, width: 400, crop: :fill %>
      <% end %>
<div>
  <% @list.movies.each do |movie| %>
    <h2><%= movie.title %></h2>
    <p><%= movie.overview %></p>
    <p>Rating: <%= movie.rating %></p>

  <% end %>
</div>


<div class="mt-5">
 <%= link_to "Back to list", lists_path, class: "btn btn-primary ml-5" %>
 <%= link_to "Add a movie",  new_list_bookmark_path(@list), class: "btn btn-primary" %>
</div>
